if messages
  each message in messages
    case message.type
      when "info"
        .alert.alert-info.alert-dismissible(role="alert")
          button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') ×
          | #{message.text}
      when "error"
        .alert.alert-danger.alert-dismissible(role="alert")
          button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') ×
          | #{message.text}
