#pager
  if page.count
    nav
      ul.pager
        if page.number
          li.previous
            a(href="/tweets?page=#{page.number}") Previous
        if page.number < page.count - 1
          li.next
            a(href="/tweets?page=#{page.number + 2}") Next
