extends layout

block styles
  link(rel='stylesheet', href='/css/style.css')

block content
  include components/menu

  .container(style="margin-top: 15px; margin-bottom: 15px;")
    .row
      .col-md-6.col-md-offset-3
        .list-group
          .list-group-item
            h3 Deactivate account
            p Are you sure you don't want to reconsider?
          .list-group-item
            form(actions="/settings/deactivate" method="post")
              button.btn.btn-info(type="submit") Deactivate @#{user.name}
              a.btn.btn-default(href="/settings" style="margin-left: 10px;") Cancel
