extends layout

block content
  include ./menu.jade

  h1= title

  each entry in entries
    .entry
      h3= entry.title
      p= entry.body
      p Posted by #{entry.username}

  include ./pager.jade
