extends layout

block styles
  link(rel="stylesheet", href="/css/style.css")
  link(rel="stylesheet", href="/css/users.css")

block content
  include components/menu

  include components/profile-nav

  .container
    .row
      .col-md-6.col-md-offset-3
        ul.list-group
          li.list-group-item People follows #{user.fullname}
          li.list-group-item a
          li.list-group-item b
          li.list-group-item c
