extends layout

block styles
  link(rel="stylesheet", href="/css/style.css")
  link(rel="stylesheet", href="/css/users.css")

block content
  include components/menu

  include components/profile-nav

  .container
    .row
      .col-md-6.col-md-offset-3
        ul.list-group
          li.list-group-item= title
          each following in followings
            li.list-group-item
              h4.list-group-item-heading
                a.text-gray-dark(href="/users/" + following.name)=  following.fullname
              p.list-group-item-text
                a.text-muted(href="/users/" + following.name) @#{following.name}