extends layout

block styles
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/css/cover.css')

block content
  include components/menu

  .site-wrapper
    .site-wrapper-inner

      .cover-container
        .inner.cover
          .row
            .col-md-6
              h1.cover-heading Welcom to Twitter.
              p.lead
                | Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.
            .col-md-6
              .panel.panel-default(style="margin-top: 30px;")
                .panel-body
                  form(action="/login" method="post")

                    include components/messages

                    p
                      input.form-control(type="text" name="user[name]" placeholder="Username")
                    p
                      input.form-control(type="password" name="user[pass]" placeholder="Password")
                    p
                      input.btn.btn-info.pull-right(type="submit" value="Login")
                    p.text-gray-dark.pull-left New to Twitter? 
                      a(href="/signup" style="color: #337ab7;") Sign up now »
        .mastfoot
          .inner
            p
              | This website is a simple Twitter clone written in Node and Redis, created by 
              a(href='https://github.com/tatsuyaoiw') @tatsuyaoiw
              | . Code is available at 
              a(href='https://github.com/tatsuyaoiw/twitter') Github
              | .
