doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/lib/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body(style="background-color: #d9edf7;")
    block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src='/js/lib/bootstrap/bootstrap.min.js')
