extends layout

block content
  include ./menu.jade

  .container
    form.form-signin(action="/login" method="post")
      h2= title
      p Fill in the form below to sign in!

      include ./messages.jade
      p
        input.form-control(type="text" name="user[name]" placeholder="Username")
      p
        input.form-control(type="password" name="user[pass]" placeholder="Password")
      p
        input.btn.btn-default(type="submit" value="Login")
