extends layout

block styles
  link(rel='stylesheet', href='/css/style.css')

block content
  include components/menu

  .container
    .row
      .col-md-8.col-md-offset-2
        .panel.panel-default(style="margin-top: 10px;")
          .panel-body
            form.login(action="/login" method="post")
              h2= title

              include components/messages

              p
                input.form-control(type="text" name="user[name]" placeholder="Username")
              p
                input.form-control(type="password" name="user[pass]" placeholder="Password")
              p
                input.btn.btn-info(type="submit" value="Login")
          .panel-footer
            .login
              p.signup-helper New to Twitter? 
                a(href="/signup") Sign up now »

