nav.navbar.navbar-fixed-top(style="background-color: #fff;")
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      div(style="padding-top: 10px; padding-bottom: 10px;")
        a(href="/")
          img.img-responsive(src="/img/twitter.png", style="width: 30px; height: 30px;")
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        if user
          li
            a(href="/")= user.name
          li
            a(href="/post") post
          li
            a(href="/logout") logout
        else
          li
            a(href="/login") login
          li
            a(href="/register") register
