extends layout

block styles
  link(rel='stylesheet', href='/css/style.css')

block content
  include components/menu

  .container
    .row
      .col-md-6.col-md-offset-3
        .panel.panel-default(style="margin-top: 10px;")
          .panel-heading Compose new Tweet
          .panel-body
            include components/form-post
