extends layout

block styles
  link(rel='stylesheet', href='/css/style.css')

block content
  include components/menu.jade

  .container
    .row
      .col-md-6.col-md-offset-3
        .panel.panel-default(style="margin-top: 10px;")
          .panel-heading Compose new Tweet
          .panel-body
            form(action="/tweets" method="post")
              include components/messages.jade
              p
                textarea.form-control(name="tweet[text]" placeholder="What's happening?" rows="3")
              p
                input.btn.btn-info.pull-right(type="submit" value="Tweet")
