extends layout

block content
  include ./menu.jade

  .container
    form.form-signup(action="/register" method="post")
      h2= title
      p Fill in the form below to sign up!

      include ./messages.jade
      p
        input.form-control(type="text" name="user[name]" placeholder="Username")
      p
        input.form-control(type="password" name="user[pass]" placeholder="Password")
      p
        input.btn.btn-default(type="submit" value="Sign Up")
