body {
  background-color: #f5f8fa;
}

.dropdown-menu > li > button.btn-link {
  text-decoration: none;
  background-color: transparent;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}